.container {
    display: grid;
    place-items: center;
    padding: 48px 16px;
    font-family: "Raleway", sans-serif;

}

.containerPost {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    max-width: 860px;
    width: 100%;

}

.fecha {
    align-self: end;
    font-size: 0.8rem;
}
