.profileButon {
    cursor: pointer;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.profileButon:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.profilePicture {
    cursor: pointer;
}

.header-cont {
	display: flex;
    justify-content: space-between;
}

.darkModeButton {
    display: flex;
    align-items: center;
}